body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background: linear-gradient(#0d47a1, #1565c0, #1976d2, #1e88e5, #2196f3); 
    background-repeat: no-repeat;    */
    background-color: #89ABE3FF;
    color: black;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 5px;
}

.done {
    float: right;
    margin-right: 5px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.searchInput {
  width: 350px;
  height: 30px;
  border-radius: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

input {
    display: flex;
    background-color: #89ABE3FF;
    border: 2px solid;
    border-color: white;

    /* justify-content: center; */
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

 img {
    height: 286px;
    width: 286px;
} 


 /* .list-group-flush{
    display: flexbox;
    justify-content: space-between;    
}  */

/* .itemPic {
    position: relative;

} */

.card {
    margin-bottom: 50px;
    color: #89ABE3FF;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;  
    margin-top: 10px;  
    margin-left: 10px;
    margin-right: 10px;
}

html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header, .footer {
    background: white;
  }
  .content {
    flex: 1;
    overflow: auto;
  }

  .submitButton{
    width: 160px;
    height: 60px;
    background-color: #89ABE3FF;
    color: #89ABE3FF;
    border: none;
    padding: 15px 32px;
  }

.signUp {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  /* .addBtn { */
/*    
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer; */
  /* } */

 
