body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background: linear-gradient(#0d47a1, #1565c0, #1976d2, #1e88e5, #2196f3); 
    background-repeat: no-repeat;    */
    background-color: lavender;
    color: black;
}

.searchResults{
    height: 100%;
    /* background: linear-gradient(#0d47a1, #1565c0, #1976d2, #1e88e5, #2196f3); 
    background-repeat: no-repeat;    */

}

* {
    /* background: linear-gradient(#0d47a1, #1565c0, #1976d2, #1e88e5, #2196f3);  */
    /* background-repeat: no-repeat;    */

}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

img {
    height: 50px;
    width: 50px;
}

li {
    list-style: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 30px;
    width: 50x;
    height: 25px;
    background-color: transparent;
    /* color: white ; */
    font-size: small;
    /* margin-left: ; */
    /* display:table; */
    /* margin:0px auto 0px auto; */
}

.signUp {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  /* .addBtn { */
/*    
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer; */
  /* } */

  .itemPrice {
      float: right;
  }

  .itemAisle{
      float: right;
  }

  .itemInfo {
      float: left;
  }

  itemName {
      display: flex;
      justify-content: center;
  }